{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
    {{message}}</div>
{% endfor %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ recipe.picture }}" alt="recipe picture" />
                <h2>{{ recipe.name }}</h2>
            </div>
            <div class="col" style="text-align: right;">
                <h4>Ingrédients</h4>
                {% for ingredient in recipe.ingredients %}
                <p>{{ingredient.name}}: {{ingredient.quantity}} {{ingredient.measurement}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>Pour {{people}} personne(s)</div>
                <div>Publiée le {{ recipe.createdAt | date('d/m/y')}}</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="row">Étapes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for step in recipe.steps %}
                    <tr>
                        <td>{{step.content | raw}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table-primary">
                        <td><br></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h4 style="text-align: center;">Commentaires</h4>
            <br>
            <div id="scroll"style="overflow-y : auto;height:500px">    
                {% for comment in recipe.comments %}
                    <div>{{comment.author}}:  {{comment.content | raw}}</div>
                    <br>
                {% endfor %}
            </div>
            <br>
            <h5 style="text-align: center;">Laisse ton meilleur Commentaire</h5>
                {{ form_start(commentForm)}}
                {{ form_row(commentForm.author)}}
                {{ form_row(commentForm.content)}}
                <button class="btn btn-primary">Poster</button>
                {{form_end(commentForm)}}
        </div>
    </div>
</div>




















<script>
    element = document.getElementById('scroll');
    element.scrollTop = element.scrollHeight;

</script>
{% endblock %}


